body{
    font-family: Arial, Helvetica, sans-serif;
}

.float-container{
    height:300px;
    /* border: 3px solid #fff; */
    padding: 20px;
}

.float-child {
    width: 40%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}

.float-child1 {
    width: 30%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}
.float-child2 {
    width: 30%;
    float: right;
    padding: 20px;
    /* border: 2px solid red; */
}

.float-tabs {
    border: 2px solid #4d4c4c25;
    padding: 20px;
}

h1 {
    color:#4d4c4c;
}

h3 {
    font-size:3em;
    font-weight: bold;
}

.grey-text {
    color:#4d4c4c;
}

.main-img {
    width: 50%;
    border-radius: 50%;
}

.container-navbar{
  clear:both;
  overflow:auto;
}

nav{float:right;}

.logo img{float:left;}

ul li{
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
}


.green-button {
    background-color: #00b300;
    color: white;
    border-radius: 10px;
}

.container-green {
    background-color: #e6ffe6;
    overflow:hidden;
    padding-bottom: 30px;
}

.div-float-left {
    float:left;
    padding-left:5em;
}

.div-float-right {
    float:right;
    padding-right:5em;
}

.img-illustration {
    width:500px;
    height:auto;
}

.feature-columns {
    float: left;
    width: 22%;
    padding: 8px;
    text-align: center;
    background-color: ;
  }

.feature-icons {
    width:80px;
    height:auto;
}

.features-section {
    padding-top: 20px;
}