body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(233, 233, 233);
}

.float-container{
    height:300px;
    /* border: 3px solid #fff; */
    padding: 20px;
}

.float-child {
    width: 40%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}

.float-child1 {
    width: 30%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}
.float-child2 {
    width: 30%;
    float: right;
    padding: 20px;
    /* border: 2px solid red; */
}

.float-tabs {
    border: 2px solid #4d4c4c25;
    padding: 20px;
}

h1 {
    color:#4d4c4c;
}

h3 {
    font-size:3em;
    font-weight: bold;
}

.grey-text {
    color:#4d4c4c;
}

.main-img {
    width: 50%;
    border-radius: 50%;
}

.container-navbar{
  clear:both;
  overflow:auto;
}

nav{float:right;}

.logo img{float:left;}

ul li{
  display: inline-block; padding:10px;
  font-size:20px; font-family:raleway;
}


.green-button {
    background-color: #00b300;
    color: white;
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
}

.container-green {
    background-color: #e6ffe6;
    overflow:hidden;
    padding-bottom: 30px;
}

.div-float-left {
    float:left;
    padding-left:2em;
    white-space: nowrap;
}

.div-float-right {
    float:right;
    padding-right:2em;
    white-space: nowrap;
}

.img-illustration {
    width:500px;
    height:auto;
}

.feature-columns {
    float: left;
    width: 22%;
    /* padding: 15px; */
    margin: 10px;
    text-align: center;
    align-content: center;
    background-color: #e6ffe673;
  }

.feature-icons {
    width:80px;
    height:auto;
}

.features-section {
    padding-top: 20px;
    padding-bottom: 200px;
}

.box-shadow {
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.479);
}

.courses-section {
    padding-top: 40px;
    /* text-align: center; */
}
.courses-columns {
    float: left;
    width: 30.3%;
    padding: 10px;
    margin: 10px;
    /* text-align: center; */
    /* align-content: center; */
    background-color: white;
}

.courses-icons {
    width:300px;
    height:auto;
    padding-left:3em;
}

.courses-mini-icons {
    width:30px;
    height:auto;
}

.testimonial-section{
    padding-top: 450px;
    padding-bottom: 50px;
    text-align: center;
}

.testimonials {
    display: flex;
    padding: 0em 20em 0em 20em;
}



#footer {
    display: flex;
    background-color:rgba(0, 0, 0, 0.85);
    color:white;
}

#footer div {
    padding: 50px;
}

.footer-ul li {
    display: block;
    float: center;
    font-size: medium;
}

